<!DOCTYPE html>
<html>
<head>
  <title>Jcieastbd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'animate'%>
  <%= stylesheet_link_tag 'bootstrap.min'%>
  <%= stylesheet_link_tag 'font-aweome.min'%>
  <%= stylesheet_link_tag 'main'%>
  <%= stylesheet_link_tag 'prettyPhoto'%>
  <%= stylesheet_link_tag 'responsive'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
